.button {
  padding: 10px 30px;
  font-weight: var(--font-weight-500);
  font-size: 18px;
  letter-spacing: 0.1rem;
  background-color: transparent;
  border: 1px solid #000;
}

.block-app__button {
  position: absolute;
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid var(--white-color);
  font-weight: var(--font-weight-500);
  top: 45%;
  left: 35%;
}
.block-sales_button {
  position: absolute;
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid var(--white-color);
  top: 40%;
  left: 40%;
}

@media (max-width: 800px){
  .block-sales_button{
    top: 70%;
  }
}

@media (max-width: 400px){
  .block-sales_button{
    left: 30%;
  }
}