@import url("../../styles/reset.css");
@import url("../../styles/main.css");

.special-offers {
  margin-bottom: 125px;
}

.special-offers__name {
  font-weight: var(--font-weight-base);
  font-size: var(--font-size-base);
  text-transform: uppercase;
  margin-bottom: 75px;
}

.name-top__text {
  letter-spacing: 0.2rem;
}

.name-bottom__text {
  font-weight: var(--font-weight-300);
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.block-cards {
  display: flex;
  margin-bottom: 35px;
}

.cards-img {
  height: 100%;
  z-index: 0;
}

.cards-name {
  position: absolute;
  display: flex;
  font-weight: var(--font-weight-base);
  font-size: 40px;
  letter-spacing: 0.2rem;
  color: var(--white-color);
  z-index: 1;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  inset: 0;
}

.cards-right {
  width: 712px;
  background-color: var(--backCards-color);
  padding: 45px 0px 45px 70px;
  height: 100%;
}

.cards-left {
  position: relative;
}

.cards-text {
  font-weight: var(--font-weight-base);
  font-size: 40px;
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
}

.cards-num {
  font-weight: var(--font-weight-base);
  font-size: 25px;
}

.block-cards--secondblock .cards-right,
.block-cards--fourthblock .cards-right {
  padding: 45px 70px 45px 0px;
  text-align: right;
}

.block-cards--secondblock p,
.block-cards--fourthblock p {
  margin-left: auto;
}

@media (max-width: 1500px) {
  .cards-right {
    padding: 45px 0px 45px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .cards-right {
    left: 4%;
  }
  .block-cards--secondblock21 .cards-right,
  .block-cards--fourthblock .cards-right {
    padding-right: 30px;
  }
  .cards-img {
    height: 100%;
  }
}

@media (max-width: 1150px) {
  .block-cards:first-child,
  .block-cards:nth-child(3) {
    display: flex;
    flex-direction: column;
  }
  .cards-right {
    padding-right: 30px;
    padding-left: 35px;
  }
  .cards-right,
  .cards-right p {
    width: 100%;
  }
  .cards-right p {
    margin-bottom: 1.25rem;
  }
  .block-cards--secondblock,
  .block-cards--fourthblock {
    display: flex;
    flex-direction: column-reverse;
  }
  .block-cards--secondblock .cards-right,
  .block-cards--fourthblock .cards-right {
    text-align: left;
    padding-left: 30px;
  }
  .cards-img {
    width: 100%;
  }
  .block-app__left h2 {
    height: 75px;
    line-height: 75px;
  }
}

@media (max-width: 800px) {
  .special-offers__name h2,
  .special-offers__name h3 {
    font-size: 24px;
  }
  .block-cards--secondblock,
  .block-cards--fourthblock {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 600px) {
  .cards-name {
    font-size: var(--font-size-base);
  }
  .cards-text {
    font-size: 30px;
  }
  .block-cards--secondblock .cards-right {
    padding-right: 30px;
  }
}
