@import url("../../styles/reset.css");
@import url("../../styles/main.css");

.app-block {
  position: relative;
  margin-bottom: 123px;
}

.block-app__left {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  top: 0%;
  left: 5%;
}

.block-app__button {
  position: absolute;
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid var(--white-color);
  font-weight: var(--font-weight-500);
  letter-spacing: 0.1rem;
  font-size: 18px;
  padding: 10px 20px;
  top: 45%;
  left: 30%;
}

.block-app__left h2 {
  font-size: 76px;
  font-weight: var(--font-weight-300);
  color: var(--white-color);
}

.block-app__left h3 {
  font-size: 64px;
  font-weight: 900;
  color: var(--white-color);
}

/* About  */

.about-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 142px;
}

.about-block__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: 180px;
}

.info-name {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.info-text {
  display: block;
  font-size: 14px;
  font-weight: var(--font-weight-500);
  min-width: 450px;
}

.info-button {
  padding: 10px 10px;
  background-color: transparent;
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-500);
  letter-spacing: 0.1rem;
  margin-top: 35px;
  border: 1px solid #000;
}

.about-block__img {
  position: relative;
}

.img-logo {
  position: absolute;
  top: 85%;
  left: 40%;
  color: var(--white-color);
}

@media (max-width: 1500px){
  .block-app__button {
    top: 45%;
    left: 45%;
  }
}

@media (max-width: 1350px){
  .block-app__left h2 {
    height: 90px;
  }
}

@media (max-width: 1300px){
  .block-app__left h2 {
    line-height: 65px;
    height: 55px;
  }
  .block-app__button {
    top: 40%;
  }
}

@media (max-width: 1200px){
  .block-app__left h2 {
    font-size: 75px;
  }
  .block-app__left h3 {
    font-size: 60px;
  }
}

@media (max-width: 1150px){
  .app-block__img {
    object-fit: cover;
    object-position: center;
    height: 180px;
  }
  .block-app__left h2 {
    font-size: 60px;
  }
  .block-app__left h3 {
    font-size: 45px;
  }
}

@media (max-width: 800px){
  .app-block__img {
    object-fit: cover;
    object-position: center;
    height: 211px;
  }
  .block-app__button {
    top: 160px;
  }
}

@media (max-width: 600px){
  .block-app__button {
    left: 22%;
  }
}

@media (max-width: 400px){
    .block-app__left {
    left: 15%;
  }
  .block-app__button {
    left: 15%;
  }
}