@import url("reset.css");
@import url("main.css");

/* Header-menu */

.header-menu_en {
  position: absolute;
  padding: 11px 11px;
  background-color: transparent;
  font-size: 18px;
  font-weight: var(--font-weight-500);
  border: 1px solid #000;
  top: 5px;
  left: 92%;
}

.header-menu_button {
  font-size: 18px;
  font-weight: var(--font-weight-500);
  background-color: transparent;
  border: none;
  margin-left: 80px;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.header-menu_button:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  color: var(--white-color);
  background-color: var(--black-color);
  margin-left: 60px;
}

/* Main */

.main-img {
  position: relative;
  margin-bottom: 26px;
}

.main-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: var(--white-color);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: left;
  top: 35%;
  left: 44%;
}

.main-text h1 {
  font-size: var(--font-size-base);
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}
.main-text h2 {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-300);
  line-height: 1.2;
  letter-spacing: 2%;
  text-transform: uppercase;
}

.main-text__item:last-child {
  font-weight: var(--font-weight-100);
}

/* Sales block */

.sales-block {
  position: relative;
  margin-bottom: 88px;
}

.block-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  justify-content: center;
  top: 0%;
  left: 5%;
}

.left-top__text {
  font-size: 102px;
  font-weight: var(--font-weight-100);
  color: var(--white-color);
  line-height: 125px;
  text-transform: none;
}

.left-bottom__text {
  font-size: 48px;
  font-weight: var(--font-weight-900);
  color: var(--white-color);
  margin-top: 1px;
}

.block-button {
  position: absolute;
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid var(--white-color);
  font-size: 18px;
  padding: 10px 30px;
  letter-spacing: 1px;
  top: 40%;
  left: 40%;
}

/* Special offers*/

.special-offers {
  margin-bottom: 125px;
}

.special-offers__name {
  font-weight: var(--font-weight-base);
  font-size: var(--font-size-base);
  text-transform: uppercase;
  margin-bottom: 75px;
}

.name-top__text {
  letter-spacing: 0.2rem;
}

.name-bottom__text {
  font-weight: var(--font-weight-300);
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.block-cards {
  display: flex;
  margin-bottom: 35px;
}

.cards-img {
  height: 100%;
  z-index: 0;
}

.cards-name {
  position: absolute;
  display: flex;
  font-weight: var(--font-weight-base);
  font-size: 40px;
  letter-spacing: 0.2rem;
  color: var(--white-color);
  z-index: 1;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  inset: 0;
}

.cards-right {
  width: 712px;
  background-color: var(--backCards-color);
  padding: 45px 0px 45px 70px;
  height: 100%;
}

.cards-left {
  position: relative;
}

.cards-text {
  font-weight: var(--font-weight-base);
  font-size: 40px;
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
}

.cards-num {
  font-weight: var(--font-weight-base);
  font-size: 25px;
}

.block-cards--secondblock .cards-right,
.block-cards--fourthblock .cards-right {
  padding: 45px 70px 45px 0px;
  text-align: right;
}

.block-cards--secondblock p,
.block-cards--fourthblock p {
  margin-left: auto;
}

/* Block app */

.app-block {
  position: relative;
  margin-bottom: 123px;
}

.block-app__left {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  top: 8%;
  left: 5%;
}

.block-app__button {
  position: absolute;
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid var(--white-color);
  font-weight: var(--font-weight-500);
  letter-spacing: 0.1rem;
  font-size: 18px;
  padding: 10px 20px;
  top: 45%;
  left: 30%;
}

.block-app__left h2 {
  font-size: 76px;
  font-weight: var(--font-weight-300);
  color: var(--white-color);
}

.block-app__left h3 {
  font-size: 64px;
  font-weight: 900;
  color: var(--white-color);
}

/* About  */

.about-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 142px;
}

.about-block__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: 180px;
}

.info-name {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.info-text {
  display: block;
  font-size: 14px;
  font-weight: var(--font-weight-500);
  min-width: 450px;
}

.info-button {
  padding: 10px 10px;
  background-color: transparent;
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-500);
  letter-spacing: 0.1rem;
  margin-top: 35px;
  border: 1px solid #000;
}

.about-block__img {
  position: relative;
}

.img-logo {
  position: absolute;
  top: 85%;
  left: 40%;
  color: var(--white-color);
}

/* CTA-Section */

.cta-block {
  position: relative;
  height: 100%;
}

.cta-sing {
  position: absolute;
  left: 55%;
  top: 40%;
}

.cta-top__text {
  font-size: 34px;
  letter-spacing: 0.2rem;
  font-weight: var(--font-weight-base);
  text-transform: uppercase;
}

.cta-bottom__text {
  font-weight: var(--font-weight-300);
  font-size: var(--font-size-base);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 25px;
}

.cta-button {
  padding: 10px 25px;
  font-weight: var(--font-weight-500);
  font-size: 18px;
  letter-spacing: 0.1rem;
  background-color: transparent;
  border: 1px solid #000;
}

/* Footer */

.info-block {
  display: flex;
  flex-direction: column;
}

.info-block h2 {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-18);
  color: var(--white-color);
  margin-bottom: 18px;
}

.info-block a {
  font-weight: var(--font-weight-300);
  font-size: 14px;
  color: var(--white-color);
  text-decoration: none;
  margin-bottom: 15px;
}

.info-logo {
  width: 166px;
  height: 56px;
}

.info-icons {
  width: 266px;
  height: 45px;
  display: flex;
  justify-content: space-between;
}

/* ============ MEDIA QUERY: max-width 1500px ============ */

@media (max-width: 1500px) {
  /* Hero Text */
  .main-text__item {
    min-width: 100%;
  }
  .header-menu_button{
    margin-left: 45px;
  }
  /* Sales Section */
  .block-left h2 {
    font-size: 90px;
    height: 86px;
    line-height: 90px;
  }
  .block-left h3 {
    font-size: 40px;
  }
  /* Card Right Section */
  .cards-right {
    padding: 45px 0px 45px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
  }
  /* App Section */
  .block-app__button {
    top: 45%;
    left: 45%;
  }
}

/* ============ MEDIA QUERY: max-width 1398px ============ */

@media (max-width: 1400px) {
  /* Images */
  .img-back {
    height: 100%;
  }
  .img-logo {
    left: 27%;
  }
}

/* ============ MEDIA QUERY: max-width 1350px ============ */

@media (max-width: 1350px) {
  /*  App Block  */
  .block-app__left h2 {
    height: 90px;
  }
}

/* ============ MEDIA QUERY: max-width 1310px ============ */

@media (max-width: 1300px) {
  /* Nav-menu */
  .header-menu_button {
    margin-left: 30px;
  }
  /* App */
  .block-app__left h2 {
    line-height: 65px;
    height: 55px;
  }
  .block-app__button {
    top: 40%;
  }
  /* About */
  .about-block {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }
  .about-block__info {
    margin-left: 0px;
  }
  .info-text {
    min-width: 100%;
  }
  .img-back {
    margin-bottom: 20px;
    width: 100%;
  }
  .img-logo {
    left: 40%;
  }
}

/* ============ MEDIA QUERY: max-width 1200px ============ */

@media (max-width: 1200px) {
  /* Header Buttons */
  .header-menu_button {
    margin-left: 50px;
  }
  /* Sales Section */
  .block-left {
    top: 0%;
  }
  .block-left h2 {
    font-size: 90px;
    height: 90px;
  }
  .left-bottom__text {
    font-size: var(--font-size-base);
  }
  /* Cards */
  .cards-right {
    left: 4%;
  }
  .block-cards--secondblock21 .cards-right,
  .block-cards--fourthblock .cards-right {
    padding-right: 30px;
  }
  .cards-img {
    height: 100%;
  }
  /* App Section */
  .block-app__left h2 {
    font-size: 75px;
  }
  .block-app__left h3 {
    font-size: 60px;
  }
  /* About Section */
  .about-block__info {
    margin: 0;
  }
  .img-logo {
    left: 40%;
  }
  /* Background Image */
  .img-back {
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
}

/* ============ MEDIA QUERY: max-width 1150px ============ */

@media (max-width: 1150px) {
  /* Sales Image */
  .sales-block__img {
    object-fit: cover;
    object-position: center;
    height: 140px;
  }
  /* Cards Layout Stack */
  .block-cards:first-child,
  .block-cards:nth-child(3) {
    display: flex;
    flex-direction: column;
  }
  .cards-right {
    padding-right: 30px;
    padding-left: 35px;
  }
  .cards-right,
  .cards-right p {
    width: 100%;
  }
  .cards-right p {
    margin-bottom: 1.25rem;
  }
  .block-cards--secondblock,
  .block-cards--fourthblock {
    display: flex;
    flex-direction: column-reverse;
  }
  .block-cards--secondblock .cards-right,
  .block-cards--fourthblock .cards-right {
    text-align: left;
    padding-left: 30px;
  }
  .cards-img {
    width: 100%;
  }
  .block-app__left h2 {
    height: 75px;
    line-height: 75px;
  }
  /* App Image */
  .app-block__img {
    object-fit: cover;
    object-position: center;
    height: 180px;
  }
  .block-app__left h2 {
    font-size: 60px;
  }
  .block-app__left h3 {
    font-size: 45px;
  }
  /* Header Burger Menu */
  header::before {
    display: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .header__burger {
    display: block;
    position: relative;
    z-index: 5;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  .header__burger span {
    position: absolute;
    background-color: var(--black-color);
    left: 0px;
    width: 100%;
    height: 2px;
    top: 9px;
    z-index: 4;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: var(--black-color);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    z-index: 4;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0px;
  }
  .header__burger::after {
    bottom: 0px;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    display: none;
  }
  /* Header Menu Buttons */
  .header-menu_button:last-child,
  .header-menu_button {
    margin: 0px;
  }
  .header-menu {
    position: fixed;
    flex-direction: column;
    justify-content: space-evenly;
    top: -1500px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
    color: var(--black-color);
    z-index: 2;
  }
  .header-menu.active {
    top: 0px;
  }
  .header-menu_en {
    display: flex;
    border: 1px solid #000;
    justify-content: center;
    align-items: center;
    left: 80%;
    width: 40px;
    height: 40px;
  }
  /* Call to Action */
  .cta-sing {
    top: 30%;
    left: 47%;
  }
}

/* ============ MEDIA QUERY: max-width 800px ============ */

@media (max-width: 800px) {
  /* Hero Text */
  .main-text {
    left: 0px;
    top: 0px;
  }
  /* Sales Image */
  .sales-block__img {
    object-fit: cover;
    object-position: center;
    height: 215px;
  }
  .block-button {
    top: 150px;
  }
  /* App Image */
  .app-block__img {
    object-fit: cover;
    object-position: center;
    height: 211px;
  }
  .block-app__button {
    top: 160px;
  }
  .block-cards--secondblock,
  .block-cards--fourthblock {
    display: flex;
    flex-direction: column-reverse;
  }
  /* About Section Stack */
  .about-block {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }
  .about-block__info {
    margin: 0;
    margin-bottom: 20px;
  }
  /* Call to Action */
  .cta-sing {
    top: 0%;
    left: 0%;
  }
  .info-block {
    align-items: center;
  }
  /* Logo Positioning */
  .img-logo {
    left: 33%;
  }
}

/* ============ MEDIA QUERY: max-width 600px ============ */

@media (max-width: 600px) {
  /* Main Text */
  .main-text {
    left: 0px;
  }
  .header-menu_en {
    left: 73%;
  }
  .img-logo {
    top: 81%;
  }
  .block-app__button {
    left: 22%;
  }
  /* CTA */
  .cta-top__text,
  .cta-bottom__text {
    font-size: 20px;
  }
  .cta-button {
    width: 140px;
    height: 28px;
    font-weight: var(--font-weight-500);
    line-height: 8px;
    font-size: 10px;
  }
  /* Info Block */
  .info-block {
    align-items: center;
  }
  .info-text {
    min-width: 100%;
  }
}

/* ============ MEDIA QUERY: max-width 400px ============ */

@media (max-width: 400px) {
  /* Hero Text */
  .main-text__item {
    font-size: 16px;
    width: 300px;
  }
  /* Sales Text */
  .block-left {
    left: 22%;
  }
  .block-button {
    left: 25%;
  }
  /* App Section */
  .block-app__left {
    left: 15%;
  }
  .block-app__button {
    left: 15%;
  }
  /* About Text */
  .info-text {
    min-width: 350px;
  }
  /* Call to Action */
  .cta-sing {
    font-size: 16px;
  }
  .cta-top__text {
    font-size: 20px;
  }
  .cta-bottom__text {
    font-size: 20px;
  }
}
